<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249530527273-69vpj9upituaabq87l87rqs7cv3grk5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249530527273-69vpj9upituaabq87l87rqs7cv3grk5l</string>
	<key>API_KEY</key>
	<string>AIzaSyDy-QgvQpxqEBpbjDF8Yhjs2A_1MVOxUWM</string>
	<key>GCM_SENDER_ID</key>
	<string>249530527273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darrick.FirebaseAuthCustomUI</string>
	<key>PROJECT_ID</key>
	<string>fir-authdemo-d7e3a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authdemo-d7e3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249530527273:ios:03df53c72a8844eecd7638</string>
</dict>
</plist>